{% extends 'index/index.html.twig' %}

{% block tasks %}
<div class="row">
    <div class="col-12">
        <h3>Things you need to do</h3>
    </div>
    <div class="col-12">
        <div class="row" id="taskList">
    	{% for task in tasks %}
            <div class="col-3 task" data-id="{{ task.id }}">
            	<div class="card">
            		<p>{{ task.description }}</p>
            		<div class="clearfix">
            			<a class="action cta" onclick="updateTaskStatus(this)" href="javascript:void(0)" data-status="complete">Done</a>
            			<a class="action" onclick="updateTaskStatus(this)" href="javascript:void(0)" data-status="cancel">Cancel</a>
            		</div>
            	</div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block taskjavascript %}
<script type="text/javascript">
    function updateTaskStatus(el) {
        var updateData = new FormData();
        updateData.append('task_id', el.closest('.task').dataset.id);
        updateData.append('update_status', el.dataset.status);

        var updateRequest = startNewHttpRequest('POST', '{{ url('update_task') }}')
        handleHttpRequest(
            updateRequest,
            updateData,
            function(json) {
                var response = JSON.parse(json);
                if (!response.success) {
                    alert(response.reason);
                } else {
                    document.getElementById('taskList').removeChild(el.closest('.task'));
                }
            }
        );
    }
</script>
{% endblock %}